html { background: black; color: white }
body { font: normal medium sans-serif }

header h1 { float: left }
nav ul { margin: 0; padding: 0 1em 0 0; text-align: right }
nav li { display: inline; padding-left: 1em }
div.clear { clear: both }

div#formdiv { border: 1px solid; padding: 3px; line-height: 1.5; float: left }

footer { clear:both; padding-top: 5px; text-align: left }
