Makefile.in
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
libprotobuf-c.pc
libtool
ltmain.sh
missing
pkgwriteinfo
src/.deps/
src/.libs/
src/Makefile.in
src/protoc-c
src/test/.libs/
src/test/Makefile.in
src/test/cxx-generate-packed-data
src/test/example-client
src/test/example-server
src/test/generated-code/
